/* COLORS
   #FFE4BA
   #B2925F
   #FFDAA1
   #4D84B2
   #A1D3FF
 */

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 90%;
	margin: 0;
	padding: 0;
	background-color: #FFE4BA;
}

#places {
	/*width: 50%;*/
	border-collapse: collapse;
}

.button_to, .button_to div, .button_to input {
	display: inline;
}

#places, #places a {
	color: black;
	text-decoration: none;
}

#places tr {
	background-color: #FFDAA1;
	border: 1px solid #B2925F;
}

#places td {
	vertical-align: top;
	padding: 5px;
}

#header {
   background-color: #4D84B2;
   color: white;
   border-bottom: 1px solid #A1D3FF;
}

#header h1 {
   font-weight: normal;
   margin: 0;
   padding: 20px;
}

#container {
	padding: 20px;
}