body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: .9em;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #444444;
}

#header {
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 45px;
	
	background-color: #dddddd;
	border-bottom: 1px solid #bbbbbb;
	
	h1 {
		font-weight: bold;
		margin: 0;
		padding: 5px 5px 5px 10px;
		font-size: 2em;
	}
	a {
		display: block;
	    color: #0073ea;
		text-decoration: none;
	}
}

#messages {
	position: fixed;
	
	top: 9px;
	right: 10px;
	width: 400px;
	height: 35px;
	z-index: 10000;
	
	font-size: 0.75em;
	
	p {
		padding: 7px;
		span.ui-icon {
			float: left;
			margin-right: .3em;
		}
	}
}

#container {
	margin-top: 45px;
	margin-right: 30%;
	padding: 20px;
}

#add-buttons {
	margin-bottom: 30px;
}

.add-form {
   margin-top: 20px;
}

.ui-dialog {
	font-size: 0.9em;
}