/* COLORS
   #FFE4BA
   #B2925F
   #FFDAA1
   #4D84B2
   #A1D3FF
 */

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: .9em;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	color: #444444;
}

#header {
	background-color: #dddddd;
	border-bottom: #cccccc;
	h1 {
		font-weight: bold;
		margin: 0;
		padding: 5px 5px 5px 10px;
		font-size: 2em;
	}
	a {
		display: block;
	    color: #0073ea;
		text-decoration: none;
	}
}

#container {
	padding: 20px;
}

#add-buttons {
	margin-bottom: 30px;
}

.add-form {
   margin-top: 20px;
}

.ui-dialog {
	font-size: 0.9em;
}