#options {
	position: fixed;
	top: 70px;
	left: 70%;
	right: 0;
	bottom: 0;
	
	border-left: 1px solid #bbbbbb;
	background-color: #eeeeee;
	padding: 10px;
	
	font-size: 0.9em;
	
	h2 {
		margin-bottom: 10px;
		font-size: 1.1em;
	}
}