#places {
	width: 100%;
	border-collapse: collapse;
	font-size: 0.9em;
	p {
	   padding: 5px 0;
   }
	td {
		vertical-align: top;
		padding: 8px 5px 5px 5px;
	}
	tr {
		background-color: #eeeeee;
		border: 1px solid #dddddd;
	}
	ul {
		padding-left: 0;
		margin: 8px 0 5px 30px;
	}
	li {
		text-indent: -4px;
	}
	li a {
		font-size: 0.6em;
	}
	.place-name {
		font-weight: bold;
	}
	
	.car-seats {
	    margin-top: 10px;
	    margin-left: 10px;
	    tr {
	        background-color: #f8f8f8;
	    }
	    td {
	        padding: 8px;
	    }
	    .mine {
	        cursor: pointer;
	    }
	}
	
	.vote-button, .unvote-button {
		width: 100%;
	}
	
	.ui-state-default.unvote-button {
		color: #ff0084;
	}
	.ui-state-hover.unvote-button {
		color: #ffffff;
	}
	.ui-state-active.unvote-button {
		color: #0073ea;
	}
}