<h4>
  <% if owner %>
    <i class="icon-road"></i>
    <%= owner.name %>
  <% else %>
    No Car Chosen
  <% end %>

  <% if owner %>
  <span class="label"><%= owner.car.seats_left(owner.place) %> left</span>
  <% end %>
</h4>

<ul class="unstyled">
  <% votes.each do |v| %>
  <li>
    <%= v.person.name %>
    <% unless v.comment.blank? %>
      <a href="#" rel="tooltip" title="<%= v.comment %>"><i class="icon-comment"></i></a>
    <% end %>
  </li>
  <% end %>
</ul>