<div id="add-buttons">
	<button id="add-place"><%=t '.add' %></button>

	<div id="add-place-dialog">
	<%= render :partial => 'place', :locals => {:place => @place} %>
	</div>
</div>

<table id="places"><%= render :partial => 'places' %></table>