<div id="add-place" class="modal fade">
  <%= render :partial => 'place', :locals => {:place => @new_place} %>
</div>

<div id="places">
  <%= render :partial => 'places' %>
</div>


<div id="edit-place" class="modal fade"></div>